$magenta: #FF267E
$light-magenta: #FFC9DF
$green: #05C48A
$green-hover: #05b37c
$blue: #000055
$white: #FFFFFF
$light-grey: #F2F2F2
$grey: #d9d9d966
$violet: #ff267e33


$font-suisse-medium: SuisseIntl-Medium, sans-serif // 500 //
$font-suisse-semb: SuisseIntl-SemiBold, sans-serif // 600 //
$font-a_LCDNova: a_LCDNova, sans-serif // 400 //

.overflow
  overflow-x: hidden !important

body
  background: $blue
  overscroll-behavior: none
  &._lock
    overflow: hidden
  img
    max-width: 100%
    height: auto
.contest
  display: flex
  flex-direction: column
  &__intro
    width: 100%
    height: auto
    aspect-ratio: 16 / 8
    position: relative
    background: url("../img/title-desk.jpg") no-repeat 0 0/cover
    @media screen and (max-width: 1366px)
      background: url("../img/title-desk-s.jpg") no-repeat 0 0/cover
    @media screen and (max-width: 1024px)
      background: url('../img/title-tab.jpg') no-repeat 0 0/cover
    @media screen and (max-width: 768px)
      background: url('../img/title-tab-s.jpg') no-repeat 0 0/cover
    @media screen and (max-width: 500px)
      background: url('../img/title-mob.jpg') no-repeat 0 0/cover
  &__btn
    background-color: $green
    border-radius: 6px
    width: 470px
    height: 70px
    display: flex
    justify-content: center
    align-items: center
    box-shadow: 0 0 10px 0.95px #07FFDA
    &.intro-btn
      position: absolute
      bottom: 69px
      right: 122px
    &-cont
      font-size: 28px
      font-family: $font-suisse-semb
      letter-spacing: 2.24px
      text-transform: uppercase
      color: $blue
      border-radius: 4px
      border: 2px solid #FFF
      //padding: 13px 10px 10px
      padding-top: 3px
      width: 97%
      height: 60px
      text-align: center
      white-space: nowrap
      display: flex
      justify-content: center
      align-items: center
    &:hover
      background-color: $green-hover
  &__experience
    background-color: $light-grey
    position: relative
    width: 100%
    height: 1015px
    z-index: 1
    &-wrapper
      width: 94%
      height: auto
      margin: 50px auto 0
      border-radius: 15px
      overflow: hidden
      box-shadow: 6px 6px 13.4px 0px rgba(0, 0, 0, 0.25)
    &-container
      display: flex
      flex-direction: column
      justify-content: space-between
      align-items: flex-start
      //padding: 60px 0 71px 82px
      padding: 3.5% 0 3% 4%
      height: 100%
    &-block
      display: flex
      position: relative
      background: url("../img/boy-right-desk.jpg") no-repeat 100% 0/cover
      @media screen and (max-width: 1366px)
        background: url("../img/boy-right-desk-s.jpg") no-repeat 100% 27%/contain
        background-color: $white
      @media screen and (max-width: 1085px)
        background: url('../img/boy-right-tab.jpg') no-repeat 100% 100%/cover
        background-color: $white
      @media screen and (max-width: 768px)
        background: url('../img/boy-right-tab-s.jpg') no-repeat 100% 100%/cover
        background-color: $white
      @media screen and (max-width: 632px)
        background: url('../img/boy-right-mob.jpg') no-repeat 100% 100%/contain
        background-color: $white
      background-color: $white
      .experience
        &-top
          font-family: $font-suisse-semb
          font-size: 20px
          color: $blue
          letter-spacing: 1.6px
          width: 641px
        &-img
          max-width: 1040px
          display: block
          margin: 25px 0 10px -26px
          width: 62%
          animation: swing 4s ease-in-out infinite
          transform-origin: center
        &-bottom
          color: $blue
          font-family: $font-suisse-semb
          //font-size: 48px
          font-size: 2.5vw
          line-height: 50.4px
          letter-spacing: 2.4px
          text-transform: uppercase
          width: 59%
  &__title
    background-color: $blue
    width: 100%
    height: 80px
    color: $magenta
    font-family: $font-suisse-semb
    font-size: 40px
    line-height: 74px
    letter-spacing: 0.8px
    text-transform: uppercase
    display: flex
    justify-content: center
    align-items: center
    position: relative
    z-index: 1
    &::after,
    &::before
      content: ""
      position: absolute
      bottom: 21px
      background: url('../img/favbet-icon.svg') no-repeat 0 0/cover
      width: 49px
      height: 38px
    &::before
      left: 76px
    &::after
      right: 76px
    &.title-transp
      background-color: transparent
  &__instructions
    width: 87%
    margin: 136px auto 166px
    position: relative
    &-wrapper
      width: 100%
      height: 323px
      border-radius: 1861px
      background: $magenta
      filter: blur(350px)
      z-index: -1
      position: absolute
      top: 30%
    .title-transp
      &::before
        left: 0
      &::after
        right: 0
    &-tickets
      margin-top: 40px
      display: flex
      justify-content: space-between
      position: relative
      &::before
        content: ""
        position: absolute
        background-color: $magenta
        width: 1000px
        height: 4px
        top: 50%
        left: 20%
        z-index: -1
      .ticket
        &__item
          width: 394px
          height: 601px
          &:nth-child(1)
            background: url('../img/ticket-left-desk.png') no-repeat 0 0/cover
            @media screen and (max-width: 1512px)
              background: url('../img/ticket-left-tab.png') no-repeat 0 0/cover
          &:nth-child(2)
            background: url('../img/ticket-center-desk.png') no-repeat 0 0/cover
            @media screen and (max-width: 1512px)
              background: url('../img/ticket-center-tab.png') no-repeat 0 0/cover
            .ticket__item-center
              padding: 62px 75px 0
          &:nth-child(3)
            background: url('../img/ticket-right-desk.png') no-repeat 0 0/cover
            @media screen and (max-width: 1512px)
              background: url('../img/ticket-right-tab.png') no-repeat 0 0/cover
          &-top
            font-family: $font-suisse-semb
            font-size: 24px
            line-height: 26px
            letter-spacing: 0.72px
            text-transform: uppercase
            color: $white
            padding: 45px 40px 40px
            text-align: center
            max-height: 133px
          &-center
            color: $blue
            font-family: $font-suisse-medium
            font-size: 18px
            letter-spacing: 1.44px
            padding: 63px 67px 0
            text-align: center
            line-height: 19px
    .instructions-btn
      margin: 30px auto 23px
  &__leaderboard
    background-color: $white
    height: 722px
    width: 100%
    .results
      width: 94%
      margin: -120px auto 0
      height: auto
      overflow: hidden
      border-radius: 15px
      box-shadow: 6px 6px 13.4px 0px rgba(0, 0, 0, 0.25)
      &__winners
        width: 680px
        top: 30px
        right: 100px
        background: $white
        border: 1px solid $magenta
        box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.15)
        border-radius: 15px
        z-index: 3
        position: absolute
        height: 632px
        display: none
        &.winners-active
          display: block
      .title
        &-leaderboard
          background-color: $magenta
          color: $blue
          height: 66px
          &::before,
          &::after
            bottom: 16px
            background: url('../img/favbet-icon-blue.svg') no-repeat 0 0/cover
      &__wrapp
        position: relative
        display: flex
        flex-direction: column
        //aspect-ratio: 2.6
        background: url("../img/boy-left-desk.jpg") no-repeat 0% 0/contain
        @media screen and (max-width: 1200px)
          background: url("../img/boy-left-desk-s.jpg") no-repeat 10% 100%/cover
        @media screen and (max-width: 1096px)
          background: url('../img/boy-left-tab.jpg') no-repeat 100% 100%/contain
        @media screen and (max-width: 1000px)
          background: url('../img/boy-left-tab-s.jpg') no-repeat 0 0/contain
        @media screen and (max-width: 758px)
          background: url('../img/boy-left-mob.jpg') no-repeat 0% 100%/contain
        background-color: $white
      &__container
        width: 675px
        align-self: flex-end
        padding-top: 36px
        padding-bottom: 36px
        margin-right: 100px
      &__title
        display: flex
        margin-bottom: 25px
        &-item
          font-family: $font-suisse-semb
          font-size: 24px
          line-height: 30.5px
          letter-spacing: 0.72px
          color: $blue
          text-transform: uppercase
          border: 1px solid #FF267E
          &:nth-child(1)
            padding: 12px 50px 10px
            margin-right: 18px
            background-color: $white
          &:nth-child(2)
            cursor: pointer
            padding: 12px 26px 10px
            background-color: $magenta
            color: $white
            transition: all 0.3s ease
            &:hover
              background-color: $violet
              color: $magenta
      &__head
        display: flex
        &-col
          display: flex
          justify-content: center
          align-items: center
          font-family: $font-suisse-semb
          font-size: 24px
          line-height: 30.6px
          letter-spacing: 0.72px
          color: $blue
          height: 46px
          border: 1px solid $magenta
          border-top: none
          padding-bottom: 10px
          &:nth-child(1)
            width: 130px
          &:nth-child(2)
            width: 259px
          &:nth-child(3)
            width: 285px
      &__body
        &-col
          display: flex
          justify-content: center
          align-items: center
          border-left: 1px solid $magenta
          border-right: 1px solid $magenta
          &:nth-child(1)
            width: 130px
            padding-left: 42px
          &:nth-child(2)
            width: 259px
          &:nth-child(3)
            width: 285px
          &.yourPlace
            position: relative
            &::before
              position: absolute
              content: "(Ti)"
              width: 61px
              height: 24px
              left: 14px
              top: 0
              color: $magenta
      &__row
        display: flex
        font-family: $font-a_LCDNova
        color: $blue
        font-size: 24px
        line-height: 38px
        letter-spacing: 0.72px
        text-transform: uppercase
        &:nth-child(odd):nth-child(-n+10)
            background: rgba(217, 217, 217, 0.40)
        &:nth-child(10)
          border-bottom: 1px solid $magenta
      &__winner
        position: relative
        &:before
          position: absolute
          content: ""
          background: url('../img/favbet-icon.svg') no-repeat 0 0/cover
          width: 33px
          height: 24px
          left: 26px
          top: 5px
      &__you
        background: $violet
    .winners
      position: relative
      &__row
        width: 611px
      &__closeBtn
        position: absolute
        content: ""
        right: 2px
        top: 0
        width: 35px
        height: 35px
        background: url('../img/cancel-icon.svg') no-repeat 0 0/cover
        cursor: pointer
      &__title
        display: flex
        margin: 10px 0
        font-family: $font-suisse-semb
        font-size: 20px
        line-height: 30.5px
        letter-spacing: 0.6px
        color: $blue
        text-transform: uppercase
        justify-content: center
        width: 611px
        //border: 1px solid #FF267E
      &__head
        display: flex
        margin: 0 37px 0 30px
        border-bottom: 2px solid $magenta
        &-col
          display: flex
          justify-content: center
          align-items: center
          font-family: $font-suisse-semb
          font-size: 18px
          line-height: 30.6px
          letter-spacing: 0.72px
          color: $blue
          height: 46px
          border-left: 2px solid $magenta
          border-top: none
          &:nth-child(1)
            width: 20%
          &:nth-child(2)
            width: 20%
          &:nth-child(3)
            width: 20%
          &:nth-child(4)
            width: 40%
            border-right: 2px solid $magenta
      &__body
        margin: 0 15px 0 30px
        max-height: 500px
        overflow-y: auto
        padding-right: 11px
        scrollbar-color: $magenta $light-magenta
        scrollbar-width: thin
        &::-webkit-scrollbar
          width: 7px
        &::-webkit-scrollbar-thumb
          background-color: $magenta
        &::-webkit-scrollbar-track
          background-color: $light-magenta
        &-col
          display: flex
          justify-content: center
          align-items: center
          border-left: 2px solid $magenta
          &:nth-child(1)
            width: 20%
            justify-content: left
            padding-left: 15px
          &:nth-child(2)
            width: 20%
          &:nth-child(3)
            width: 20%
          &:nth-child(4)
            width: 40%
            font-family: $font-suisse-medium
            border-right: 2px solid $magenta
            justify-content: flex-start
            padding-left: 12px
      &__row
        display: flex
        font-family: $font-a_LCDNova
        color: $blue
        font-size: 18px
        letter-spacing: 0.72px
        line-height: 53px
        &:nth-child(odd)
          background: rgba(217, 217, 217, 0.40)
          line-height: 38px
  &__stadium
    background-color: $white
    display: flex
    flex-direction: column
    width: 100%
    padding-bottom: 30px
    margin-top: -3px
    &-cont
      margin: 0 auto
      width: 85%
    &-top
      display: flex
      justify-content: space-between
      margin-bottom: 90px
    &-left
      max-width: 51%
    &-right
      display: flex
      flex-direction: column
      justify-content: center
      width: 38%
      //width: 516px
      .right-wrap
        width: 520px
      .logos
        display: flex
        justify-content: space-between
        margin-bottom: 80px
        &-din
          width: 192px
          height: 192px
          background: url('../img/dinamo-zagreb-logo.png') no-repeat 0 0/cover
        &-fav
          width: 228px
          height: 177px
          background: url('../img/favbet-icon.svg') no-repeat 0 0/cover
      .stadiumTxt
        color: $blue
        font-family: $font-suisse-medium
        font-size: 20px
        letter-spacing: 1.6px
        width: 100%
    &-bottom
      color: $blue
      font-family: $font-suisse-semb
      font-size: 76px
      line-height: 105%
      letter-spacing: 3.8px
      text-transform: uppercase
  &__terms
    background-color: $blue
    .rules
      background-color: $white
      width: 94%
      margin: 80px auto 150px
      transition: transform 0.3s ease
      border: 2px solid #FF267E
      border-radius: 6px
      padding: 21px 74px 15px 74px
      &-title
        font-family: $font-suisse-semb
        color: $magenta
        font-size: 40px
        line-height: 34px
        letter-spacing: 1.2px
        text-transform: uppercase
        cursor: pointer
        position: relative
        list-style: none
        user-select: none
        &::-webkit-details-marker
          display: none
        &::before
          content: ""
          position: absolute
          width: 25px
          height: 17px
          top: 30%
          left: 370px
          background: url('../img/arrow.svg') no-repeat 0 0 / contain
      &-txt
        color: $blue
        font-size: 20px
        line-height: 30px
        letter-spacing: 1.12px
        font-family: $font-suisse-medium
        margin: 25px 0 15px
      &[open]
        .rules-title
          position: relative
          &::before
            transform: translateY(-50%) rotate(180deg)
          &::after
            position: absolute
            top: 40px
            left: 0
            display: block
            content: ""
            width: 355px
            height: 2px
            background-color: $magenta
            z-index: 1

@keyframes swing
  0%
    transform: rotate(8deg)
  25%
    transform: rotate(15deg)
  50%
    transform: rotate(8deg)
  75%
    transform: rotate(-1deg)
  100%
    transform: rotate(8deg)




