.contest
    section.contest__intro
        a(href="/login/").contest__btn.intro-btn
            .contest__btn-cont Prijavi se
    section.contest__experience
        .contest__experience-wrapper
            .contest__title FAVBET x Dinamo EXPERIENCE
            .contest__experience-block
                .contest__experience-container
                    .experience-top Svaka oklada vodi te bliže nezaboravnoj avanturi - osjeti uzbuđenje i doživi atmosferu utakmice Arsenal - Dinamo Zagreb uživo u srcu Londona!
                    picture.experience-img
                        source(media="(max-width: 500px)" srcset="img/ticket-mob.png")
                        source(media="(max-width: 768px)" srcset="img/ticket-tab-s.png")
                        source(media="(max-width: 1024px)" srcset="img/ticket-tab.png")
                        source(media="(max-width: 1366px)" srcset="img/ticket-desk-s.png")
                        source(media="(min-width: 1367px)" srcset="img/ticket-desk.png")
                        img(src="img/ticket-desk.png" alt="ticket")
                    .experience-bottom Jesi li spreman ostvariti snove? Kladi se odmah i osvoji iskustvo koje ćeš pamtiti zauvijek!
    section.contest__instructions
        .contest__instructions-wrapper
        .contest__title.title-transp Kako sudjelovati
        .contest__instructions-tickets
            .ticket__item
                .ticket__item-top Priključi se promociji
                .ticket__item-center Razdoblje prijave 02.12.2024. - 22.12.2024.
            .ticket__item
                .ticket__item-top Kladi se na sve sportove
                .ticket__item-center Svaka oklada od 10 EUR = 1 prilika da posjetiš legendarnu Arsenal Arenu s momčadi
            .ticket__item
                .ticket__item-top Ostvari šansu za osvajanje glavne nagrade
                .ticket__item-center Više oklada ti donosi veće šanse da osvojiš Favbet x Dinamo Experience!
        a(href="/sports/").contest__btn.instructions-btn
            .contest__btn-cont Kladi se
    section.contest__leaderboard
        .results
            .contest__title.title-leaderboard Tablica promocije
            .results__wrapp
                .results__winners
                    .winners
                        .winners__title Dobitnici
                        .winners__closeBtn
                        .winners__head
                            .winners__head-col Mjesto
                            .winners__head-col ID
                            .winners__head-col Bodovi
                            .winners__head-col Nagrada
                        .winners__body
                            .winners__row
                                .winners__body-col 1
                                .winners__body-col 678453
                                .winners__body-col 98484
                                .winners__body-col Favbet X Dinamo Experience
                            .winners__row
                                .winners__body-col 2
                                .winners__body-col 678453
                                .winners__body-col 9341
                                .winners__body-col 500 EUR awb 1
                            .winners__row
                                .winners__body-col 3-5
                                .winners__body-col 6784539999
                                .winners__body-col 93419999
                                .winners__body-col 450 EUR awb 1
                            .winners__row
                                .winners__body-col 6-10
                                .winners__body-col 678453
                                .winners__body-col 9341
                                .winners__body-col 400 EUR awb 1
                            .winners__row
                                .winners__body-col 11-15
                                .winners__body-col 678453
                                .winners__body-col 9341
                                .winners__body-col 350 EUR awb 1
                            .winners__row
                                .winners__body-col 16-25
                                .winners__body-col 678453
                                .winners__body-col 9341
                                .winners__body-col 300 EUR awb 1
                            .winners__row
                                .winners__body-col 26-40
                                .winners__body-col 678453
                                .winners__body-col 9341
                                .winners__body-col 250 EUR awb 1
                            .winners__row
                                .winners__body-col 41-50
                                .winners__body-col 678453
                                .winners__body-col 9341
                                .winners__body-col 200 EUR awb 1
                            .winners__row
                                .winners__body-col 51-60
                                .winners__body-col 678453
                                .winners__body-col 9341
                                .winners__body-col 150 EUR awb 1
                            .winners__row
                                .winners__body-col 61-70
                                .winners__body-col 678453
                                .winners__body-col 9341
                                .winners__body-col 100 EUR awb 1
                            .winners__row
                                .winners__body-col 71-80
                                .winners__body-col 678453
                                .winners__body-col 9341
                                .winners__body-col 100 EUR awb 1
                            .winners__row
                                .winners__body-col 81-90
                                .winners__body-col 678453
                                .winners__body-col 9341
                                .winners__body-col 100 EUR awb 1
                            .winners__row
                                .winners__body-col 91-100
                                .winners__body-col 678453
                                .winners__body-col 9341
                                .winners__body-col 100 EUR awb 1
                            .winners__row
                                .winners__body-col 101-110
                                .winners__body-col 678453
                                .winners__body-col 9341
                                .winners__body-col 100 EUR awb 1
                .results__container
                    .results__title
                        .results__title-item Sudionici
                        .results__title-item.winners-btn Dobitnici
                    .results__head
                        .results__head-col Mjesto
                        .results__head-col ID
                        .results__head-col Bodovi
                    .results__body
                        .results__row.results__winner
                            .results__body-col 1
                            .results__body-col 678453
                            .results__body-col 98484
                        .results__row
                            .results__body-col 2
                            .results__body-col 678453
                            .results__body-col 9341
                        .results__row
                            .results__body-col 3
                            .results__body-col 678453
                            .results__body-col 6688
                        .results__row
                            .results__body-col 4
                            .results__body-col 678453
                            .results__body-col 5320
                        .results__row
                            .results__body-col 5
                            .results__body-col 678453
                            .results__body-col 3751
                        .results__row
                            .results__body-col 6
                            .results__body-col 678453
                            .results__body-col 3045
                        .results__row
                            .results__body-col 7
                            .results__body-col 678453
                            .results__body-col 2978
                        .results__row
                            .results__body-col 8
                            .results__body-col 678453
                            .results__body-col 2751
                        .results__row
                            .results__body-col 9
                            .results__body-col 678453
                            .results__body-col 2045
                        .results__row
                            .results__body-col 10
                            .results__body-col 678453
                            .results__body-col 1978
                        .results__row
                            .results__body-col 27
                            .results__body-col 678453
                            .results__body-col 3009
                        .results__row.results__you
                            .results__body-col.yourPlace 28
                            .results__body-col 678453
                            .results__body-col 2004
                        .results__row
                            .results__body-col 29
                            .results__body-col 171322
                            .results__body-col 1890

    section.contest__stadium
        .contest__stadium-cont
            .contest__stadium-top
                .contest__stadium-left
                    picture.experience-img
                        source(media="(max-width: 500px)" srcset="img/stadium-mob.jpg")
                        source(media="(max-width: 1000px)" srcset="img/stadium-tab-s.jpg")
                        source(media="(max-width: 1024px)" srcset="img/stadium-tab.jpg")
                        source(media="(max-width: 1366px)" srcset="img/stadium-desk-s.jpg")
                        source(media="(min-width: 1367px)" srcset="img/stadium-desk.jpg")
                        img(src="img/stadium-desk.jpg" alt="stadium")
                .contest__stadium-right
                    .right-wrap
                        .logos
                            .logos-din
                            .logos-fav
                        p.stadiumTxt Svaka oklada vodi te bliže nezaboravnoj avanturi - uživo iskusi atmosferu utakmice Arsenal - Dinamo Zagreb u Londonu! Osjeti uzbuđenje, navijaj za Dinamo Zagreb i uživaj u VIP doživljaju grada.
            p.contest__stadium-bottom Ne propusti svoju šansu - kladi se i osvoji iskustvo za pamćenje!
    section.contest__terms
        details.rules
            summary.rules-title Uvjeti i pravila
            p.rules-txt Kao korisnik, odgovorni ste za održavanje povjerljivosti informacija o vašem računu i aktivnosti. Slažete se da će naše usluge koristiti samo u zakonite svrhe i na način koji ne krši prava drugih. Zadržavamo pravo na izmjenu ovih uvjeta u bilo kojem trenutku, a nastavak korištenja naših usluga podrazumijeva prihvaćanje tih promjena. Za bilo kakva pitanja ili pojašnjenja, slobodno se obratite našem timu za podršku. Vaše razumijevanje i suradnja su ključni za stvaranje pozitivne zajednice za sve korisnike.




